# Node/React - frontend
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env.local
frontend/.env.*.local
/.pnp
.pnp.js
frontend/.env*

# FastAPI/Python - backend
backend/__pycache__/
backend/*.py[cod]
backend/*.env
backend/.env
backend/db.sqlite3
# Ignorar bancos SQLite
backend/*.db
backend/app/*.db


# Root
.env
*.log
.DS_Store
Thumbs.db

# IDEs / editores
.vscode/
.idea/
*.swp

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*